body{
  background: lightgrey;
}
form {
  width: 50%;
  background: lightblue;
  border-style:solid;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
form input {
  border-radius: 4px;
  padding-left: 10px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
